.searchBar {
    display: flex;
    align-items: center;
}

.input {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
}

.btn {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #777;
}