.paginado {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 20px 0;
}

.number {
    margin: 0 5px;
}

.number a {
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #ddd;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.number a:hover {
    background-color: #333;
    color: white;
}