.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 250px;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.info {
    padding: 2px 16px;
}

.info h3 {
    margin: 10px 0 5px;
    color: #333;
}

.info h5 {
    margin: 0 0 15px;
    color: #666;
}